<form method="POST" action="/new">
  <input type="text" name='author' placeholder="Name" />
  <input type="text" name='message' placeholder="Insert your message here" />
  <input type="submit" />
</form>
<a href="/">Go back</a>
